.scrollComponent {
  width: 100vw;
  height: 90vh;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.scale-image {
  width: 400px;
}
@media only screen and (max-width: 767px) {
  .height-80-vh {
    height: 70vh;
  }

  .hi-image-cont {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .hi-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    text-align: right;
    // width: 20%;
    // height: 20%;
  }
  .hi-text {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .scale-image {
    width: 200px;
  }
  
  .job-cont{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 100vw;
    padding: 1.5rem;
  }
  
  .work-exp-cont{
    width: 100vw;
    height: 80vh;
  }
  .grade-cont{
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  .height-80-vh {
    height: 70vh;
  }

  .hi-image-cont {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .hi-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    text-align: right;
    // width: 20%;
    // height: 20%;
  }
  .hi-text {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .scale-image {
    width: 300px;
  }
  
  .job-cont{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 70vw;
    padding: 1.5rem;
  }
  
  .work-exp-cont{
    width: 100vw;
    height: 50vh;
  }
  .grade-cont{
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  
  .height-80-vh {
    height: 70vh;
  }

  .hi-image-cont {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .hi-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    text-align: right;
    width: 40%;
    height: 40%;
  }
  .hi-text {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .scale-image {
    width: 300px;
  }
  
  .job-cont{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 70vw;
    padding: 1.5rem;
  }
  
  .work-exp-cont{
    width: 100vw;
    height: 70vh;
  }
  .grade-cont{
    width: 80%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1441px) {
  .height-80-vh {
    height: 80vh;
  }

  .hi-image-cont {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .hi-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 3rem;
    text-align: right;
    width: 20%;
    height: 20%;
  }
  .hi-text {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .scale-image {
    width: 400px;
  }
  .job-cont{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 30vw;
    padding: 1.5rem;
  }
  .work-exp-cont{
    width: 100vw;
    height: 50vh;
  }
  .grade-cont{
    width: 20%;
  }
}
