.bg {
    &-white {
        background-color: white;
    }

    &-red {
        background-color: #ff7b7b;
    }

    &-blue {
        background-color: blue;
    }

    &-purple {
        background-color: #6e07f3;
    }

    &-cian {
        background-color: #5BE9B9;
    }
}

.text {
    &-purple {
        color: #6e07f3;
    }
}