.bg {
    &-white {
        background-color: white;
    }

    &-red {
        background-color: #ff7b7b;
    }

    &-blue {
        background-color: blue;
    }

    &-purple {
        background-color: #6e07f3;
    }

    &-yellow {
        background-color: yellow;
    }
    
    &-green {
        background-color: green;
    }

    &-cian {
        background-color: #5BE9B9;
    }

    &-black {
        background-color: black;
    }
    
    &-cornBlue {
        background-color: CornflowerBlue;
    }
}

.text {
    &-purple {
        color: #6e07f3;
    }
}