@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Rubik:wght@300&family=Zeyada&display=swap');


.font {
    &-09 {
        font-size: .9rem;
    }

    &-10 {
        font-size: 1rem;
    }

    &-11 {
        font-size: 1.1rem;
    }

    &-12 {
        font-size: 1.2rem;
    }

    &-13 {
        font-size: 1.3rem;
    }

    &-14 {
        font-size: 1.4rem;
    }
}

.font {
    &-white {
        color: white
    }
}

.font-fam {
    font-family: 'Autour One', cursive;
}

.font-rubik {
    font-family: 'Rubik', cursive;
}

.text-underline {
    text-decoration: underline;
}

.underline-offset {
    text-underline-offset: .7rem;
}

.text-bold {
    font-weight: 500;
}

.text-weight-600 {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.letter-spacing {

    &-1 {
        letter-spacing: .1rem;
    }

    &-2 {
        letter-spacing: .2rem;
    }

    &-3 {
        letter-spacing: .3rem;
    }
}