.workSpace {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.headerSpace {
  height: 10vh;
  width: 100vw;
  background-color: blue;
}

.contentSpace {
  height: 90vh;
  width: 100vw;
  display: flex;
  background-color: black;
  overflow: hidden;
}

.text-align {
  &-center {
    text-align: center;
  }
  &-end {
    text-align: end;
  }
  &-justify {
    text-align: justify;
  }
}
.text-bold {
  font-weight: bold;
}
.user-select {
  user-select: none;
}
.cursor {
  cursor: pointer;
}

li {
  margin-bottom: 0.3rem;
}

.custom-spinner {
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #000000; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin .5s linear infinite;
  position: fixed; 
  z-index: 9999; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
