.font-family {
    font-family: 'Rubik', cursive;
}

.background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: #10239e;
    background-image: url('../assets/developer.png');
    background-repeat: no-repeat;
}

.rotate_text {
    color: white;
    margin-bottom: 1rem;
    margin-right: 5rem;
    rotate: 1 1 0 35deg;
    font-size: 6rem;
    font-weight: bold;
    animation: 1.3s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateY(-500%);
    }

    100% {
        transform: translateY(0);
    }
}

.tagSection {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-color: #061178;
    padding-top: 2rem;
    opacity: .7;
    color: white;
}

.title {
    font-size: 2.5rem;
}

.socials {
    display: flex;
    justify-content: end;
    margin-top: -2rem;
    margin-right: 3rem;
}

.profileTitle {
    background-color: white;
    color: black;
    font-size: 2.5rem;
    padding: 3rem;
    width: 25%;
    z-index: 2;
    position: absolute;
    top: 10%;
    border: 1px solid black;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.profilslika {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2rem;
    padding-left: 5rem;
}

.details {
    font-size: 2rem;
    letter-spacing: .4rem;
    width: 80%;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(104, 103, 103);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(146, 145, 145);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

.detailscontet {
    width: 35%;
    height: 70%;
    padding: .5rem;
    padding-top: 10rem;
    background-color: rgb(206, 201, 201);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-left: 3rem;
    padding-bottom: 5rem;
}

.detailsSection {
    font-size: .9rem;
    font-weight: bold;
}

.detailsSectionContent {
    margin-top: .4rem;
    margin-bottom: .5rem;
    font-weight: normal;
}

.profileSection {
    // background-color: red;
    width: 60%;
    height: 60%;
    left: 40%;
    position: absolute;
    top: 10%;
    padding-top: 13%;
    overflow-y: scroll;
}

.profileSectionTitle {
    font-size: 2rem;
    letter-spacing: .4rem;
    width: 50%;
    margin-bottom: 1rem;
    margin-left: 2rem;
    border-bottom: 2px solid black;
}

.profileSectionText {
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-align: justify;
    padding: 4rem;
    padding-top: 2rem;
    line-height: 1.5;
}

.profileSectionText2 {
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-align: justify;
    padding: 4rem;
    padding-top: 2rem;
    line-height: 1.5;
}

.jobTitle {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 4rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.dates {
    padding-left: 4rem;
    padding-top: .5rem;
}

.uniTitle {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 4rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.refTitle {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 4rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.contact-btn {
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    height: .2rem;
    padding: .9rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}