@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

.hedvig-font {
    font-family: "Hedvig Letters Sans", sans-serif;
}

.generalWrap {
    display: block;
    overflow: hidden;
    white-space: wrap;
    overflow-y: scroll;
    background-color: white;
}

@media only screen and (max-width: 767px) {
    .title {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        font-size: 1.4rem;
    }

    .subtitle {
        width: 100%;
        text-align: center;
        padding-top: .8rem;
        font-size: .9rem;
    }

    .marginForIcon {
        margin-top: 1rem;
    }

    .circleIcon {
        width: 10vh;
        height: 10vh;
        background-color: red;
        border-radius: 50%;
        background-image: url("../assets/icons.jpg");
        background-position: 50% 50%;
        background-size: cover;
    }

    .computerBg {
        width: 100%;
        height: 25%;
        margin-top: 3rem;
        background-color: red;
        background-image: url("../assets/background.png");
        background-size: cover;
    }

    .welcomeSec {
        width: 100%;
        height: 70%;
        background-color: #6e07f3;
        font-size: 1.3rem;
        text-align: center;
        color: white;
        padding: .2rem;
        padding-top: 2rem;
        display: block;
    }

    .descriptionTitle {
        font-weight: bold;
        padding: 1rem;
    }

    .cards {
        height: 150%;
        width: 100%;
    }

    .card {
        width: 75%;
        height: 65%;
        background-color: white;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        position: relative;
        display: block;
        top: -10%;
        left: 12%;
    }

    .iconTranslate {
        transform: translateY(35px);
        height: 20%;
    }

    .cardIcon {
        display: flex;
        width: 100%;
        justify-content: center;
        transform: scale(3);
    }

    .iconCircle {
        background-color: #5BE9B9;
        width: 8vw;
        height: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .cardTitle {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    .cardDescription {
        margin-top: 1rem;
        font-size: 1rem;
        padding: .5rem;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .title {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
    }

    .subtitle {
        width: 100%;
        text-align: center;
        padding-top: 1.1rem;
        font-size: 1.4rem;
    }


    .marginForIcon {
        margin-top: 2.5rem;
    }

    .circleIcon {
        width: 10vh;
        height: 10vh;
        background-color: red;
        border-radius: 50%;
        background-image: url("../assets/icons.jpg");
        background-position: 50% 50%;
        background-size: cover;
    }

    .computerBg {
        width: 100%;
        height: 35%;
        margin-top: 3rem;
        background-color: red;
        background-image: url("../assets/background.png");
        background-size: cover;
    }

    .welcomeSec {
        width: 100%;
        height: 70%;
        background-color: #6e07f3;
        font-size: 1.6rem;
        text-align: center;
        color: white;
        padding: .2rem;
        padding-top: 2rem;
        display: block;
    }

    .descriptionTitle {
        font-weight: bold;
        padding: 1rem;
    }

    .cards {
        height: 150%;
        width: 100%;
    }

    .card {
        width: 75%;
        height: 65%;
        background-color: white;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        position: relative;
        display: block;
        top: -20%;
        left: 12%;
    }

    .iconTranslate {
        transform: translateY(80px);
        height: 25%;
    }

    .cardIcon {
        display: flex;
        width: 100%;
        justify-content: center;
        transform: scale(4);
    }

    .iconCircle {
        background-color: #5BE9B9;
        width: 5.4vw;
        height: 5.4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .cardTitle {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .cardDescription {
        margin-top: 1rem;
        font-size: 1.4rem;
        padding: .5rem;
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .title {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        font-size: 3em;
    }

    .subtitle {
        width: 100%;
        text-align: center;
        padding-top: 1.1rem;
        font-size: 1.8rem;
    }


    .marginForIcon {
        margin-top: 3.5rem;
    }

    .circleIcon {
        width: 10vh;
        height: 10vh;
        background-color: red;
        border-radius: 50%;
        background-image: url("../assets/icons.jpg");
        background-position: 50% 50%;
        background-size: cover;
    }

    .computerBg {
        width: 100%;
        height: 35%;
        margin-top: 3rem;
        background-color: red;
        background-image: url("../assets/background.png");
        background-size: cover;
    }

    .welcomeSec {
        width: 100%;
        height: 70%;
        background-color: #6e07f3;
        font-size: 2rem;
        text-align: center;
        color: white;
        padding: .2rem;
        padding-top: 2rem;
        display: block;
    }

    .descriptionTitle {
        font-weight: bold;
        padding: 1rem;
    }

    .cards {
        height: 150%;
        width: 100%;
    }

    .card {
        width: 75%;
        height: 65%;
        background-color: white;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        position: relative;
        display: block;
        top: -20%;
        left: 12%;
    }

    .iconTranslate {
        transform: translateY(100px);
        height: 25%;
    }

    .cardIcon {
        display: flex;
        width: 100%;
        justify-content: center;
        transform: scale(4);
    }

    .iconCircle {
        background-color: #5BE9B9;
        width: 5.4vw;
        height: 5.4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .cardTitle {
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
    }

    .cardDescription {
        margin-top: 1rem;
        font-size: 2rem;
        padding: .5rem;
        text-align: center;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .title {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        font-size: 2.5em;
    }

    .subtitle {
        width: 100%;
        text-align: center;
        padding-top: 1.1rem;
        font-size: 1.5rem;
    }


    .marginForIcon {
        margin-top: 3rem;
    }

    .circleIcon {
        width: 10vh;
        height: 10vh;
        background-color: red;
        border-radius: 50%;
        background-image: url("../assets/icons.jpg");
        background-position: 50% 50%;
        background-size: cover;
    }

    .computerBg {
        width: 100%;
        height: 65%;
        margin-top: 3rem;
        background-color: red;
        background-image: url("../assets/background.png");
        background-size: cover;
    }

    .welcomeSec {
        width: 100%;
        height: 70%;
        background-color: #6e07f3;
        font-size: 2rem;
        text-align: center;
        color: white;
        padding: .2rem;
        padding-top: 2rem;
        display: block;
    }

    .descriptionTitle {
        font-weight: bold;
        padding: 1rem;
    }

    .cards {
        height: 150%;
        width: 100%;
    }

    .card {
        width: 75%;
        height: 65%;
        background-color: white;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        position: relative;
        display: block;
        top: -20%;
        left: 12%;
    }

    .iconTranslate {
        transform: translateY(100px);
        height: 25%;
    }

    .cardIcon {
        display: flex;
        width: 100%;
        justify-content: center;
        transform: scale(3.5);
    }

    .iconCircle {
        background-color: #5BE9B9;
        width: 3.5vw;
        height: 3.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .cardTitle {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
    }

    .cardDescription {
        margin-top: 1rem;
        font-size: 2rem;
        padding: .5rem;
        text-align: center;
    }
}


@media only screen and (min-width: 1441px) {
    .title {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
        font-size: 2.5rem;
    }

    .subtitle {
        width: 100%;
        text-align: center;
        padding-top: 1.1rem;
        font-size: 1.5rem;
    }


    .marginForIcon {
        margin-top: 3rem;
    }

    .circleIcon {
        width: 10vh;
        height: 10vh;
        background-color: red;
        border-radius: 50%;
        background-image: url("../assets/icons.jpg");
        background-position: 50% 50%;
        background-size: cover;
    }

    .computerBg {
        width: 100%;
        height: 70%;
        background-image: url("../assets/background.png");
        background-size: 80%;
        background-position: 50% 0%;
        background-repeat: no-repeat;
    }

    .welcomeSec {
        width: 100%;
        height: 70%;
        background-color: #6e07f3;
        font-size: 1.8rem;
        text-align: center;
        color: white;
        padding: .2rem;
        padding-top: 2rem;
        display: block;
    }

    .descriptionTitle {
        font-weight: bold;
        padding: 1rem;
        font-size: 2.5rem;
    }

    .descriptionDescription {
        font-size: 1.5rem;
    }

    .cards {
        height: 140%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -45%;
    }

    .card {
        width: 100%;
        height: 60%;
        background-color: white;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        transform: scale(.8);
    }

    .iconTranslate {
        transform: translateY(80px);
        height: 25%;
    }

    .cardIcon {
        display: flex;
        width: 100%;
        justify-content: center;
        transform: scale(3);
    }

    .iconCircle {
        background-color: #5BE9B9;
        width: 3vw;
        height: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .cardTitle {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
    }

    .cardDescription {
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: .5rem;
        text-align: center;
    }
}