.workSpace {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.headerSpace {
    height: 10vh;
    width: 100vw;
    background-color: blue;
}

.contentSpace {
    height: 90vh;
    width: 100vw;
    display: flex;
    background-color: black;
    overflow: hidden;
}