.menu {
    background-color: rgb(122, 13, 199);
    padding: 2rem;
    width: 100%;
    height: 100%;
}

/* .layout {
    background-color: gray;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
} */


.content {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: block;
    overflow-y: auto;
    background-color: yellow;
}

.ddd {
    padding: 20px;
    background-color: yellowgreen;
    margin: 5px;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 40%;
    height: 40%;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 2rem;
}

.log {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.centerTitleLogin {
    margin: 20px;
    text-align: center;
}

.centerLogin {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: -2rem;
}

.logindisplay {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.canvasprop {
    background-color: green;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
}

canvas {
    border: 1px solid black;
    position: absolute;
    /* margin-left: -15px;
    margin-top: -15px; */
}

.flex {
    display: flex;
}

.justfiy-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}