@media only screen and (max-width: 767px) {
    .project-title{
        padding: 2rem;
        padding-left: .5rem;
        font-size: 2rem;
    }
    .project-page-contain{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .project-mobile-disable{
        display: none;
    }
    .project-padding-text{
        padding-right: 1rem;
        padding-left: .5rem;
    }
    .project-font-paragraph{
        font-size: 1.1rem;
    }
    .project-margin-top-3{
        margin-top: 1rem;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}


@media only screen and (min-width: 1024px) and (max-width: 1280px) {
}



@media only screen and (min-width: 1281px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1441px) {
    .project-title{
        padding: 2rem;
        padding-left: 1rem;
        font-size: 2.4rem;
    }
    .project-page-contain{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .project-intro-text-height{
        // height: 20vh;
    }
    .project-margin-top-2{
        margin-top: 3rem;
    }
    .project-pc-disable{
        display: none;
    }
}