.m {
    &-1 {
        margin: 1rem;
    }

    &-2 {
        margin: 2rem;
    }

    &-3 {
        margin: 3rem;
    }

    &-4 {
        margin: 4rem;
    }

    &-5 {
        margin: 5rem;
    }
}

.ml {
    &-1 {
        margin-left: 1rem;
    }

    &-2 {
        margin-left: 2rem;
    }

    &-3 {
        margin-left: 3rem;
    }

    &-4 {
        margin-left: 4rem;
    }

    &-5 {
        margin-left: 5rem;
    }
}

.mr {
    &-1 {
        margin-right: 1rem;
    }

    &-2 {
        margin-right: 2rem;
    }

    &-3 {
        margin-right: 3rem;
    }

    &-4 {
        margin-right: 4rem;
    }

    &-5 {
        margin-right: 5rem;
    }
}

.mt {
    &-05 {
        margin-top: .5rem;
    }

    &-1 {
        margin-top: 1rem;
    }

    &-2 {
        margin-top: 2rem;
    }

    &-3 {
        margin-top: 3rem;
    }

    &-4 {
        margin-top: 4rem;
    }

    &-5 {
        margin-top: 5rem;
    }
}

.mb {
    &-05 {
        margin-bottom: .5rem;
    }

    &-1 {
        margin-bottom: 1rem;
    }

    &-2 {
        margin-bottom: 2rem;
    }

    &-3 {
        margin-bottom: 3rem;
    }

    &-4 {
        margin-bottom: 4rem;
    }

    &-5 {
        margin-bottom: 5rem;
    }
}

.p {
    &-1 {
        padding: 1rem;
    }

    &-05 {
        padding: .5rem;
    }

    &-12 {
        padding: 1.2rem;
    }

    &-2 {
        padding: 2rem;
    }

    &-3 {
        padding: 3rem;
    }

    &-4 {
        padding: 4rem;
    }

    &-5 {
        padding: 5rem;
    }
}

.pl {
    &-1 {
        padding-left: 1rem;
    }

    &-2 {
        padding-left: 2rem;
    }

    &-3 {
        padding-left: 3rem;
    }

    &-4 {
        padding-left: 4rem;
    }

    &-5 {
        padding-left: 5rem;
    }
}

.pr {
    &-1 {
        padding-right: 1rem;
    }

    &-2 {
        padding-right: 2rem;
    }

    &-3 {
        padding-right: 3rem;
    }

    &-4 {
        padding-right: 4rem;
    }

    &-5 {
        padding-right: 5rem;
    }
}

.pt {
    &-1 {
        padding-top: 1rem;
    }

    &-2 {
        padding-top: 2rem;
    }

    &-3 {
        padding-top: 3rem;
    }

    &-4 {
        padding-top: 4rem;
    }

    &-5 {
        padding-top: 5rem;
    }
}

.pb {
    &-1 {
        padding-bottom: 1rem;
    }

    &-2 {
        padding-bottom: 2rem;
    }

    &-3 {
        padding-bottom: 3rem;
    }

    &-4 {
        padding-bottom: 4rem;
    }

    &-5 {
        padding-bottom: 5rem;
    }
}

.w {
    &-100 {
        width: 100%;
    }

    &-80 {
        width: 80%;
    }

    &-60 {
        width: 60%;
    }

    &-50 {
        width: 50%;
    }

    &-40 {
        width: 40%;
    }

    &-30 {
        width: 30%;
    }

    &-20 {
        width: 20%;
    }

    &-10 {
        width: 10%;
    }
}

.h {
    &-100 {
        height: 100%;
    }

    &-80 {
        height: 80%;
    }

    &-60 {
        height: 60%;
    }

    &-50 {
        height: 50%;
    }

    &-20 {
        height: 20%;
    }

    &-10 {
        height: 10%;
    }
}