@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Zeyada&display=swap');

* {
  margin: 0;
  padding: 0;
}